life_test/life_test.ncb
life_test/life_test.suo
life_test/life_test.vcproj.*
life_test/Debug/*
ticket_to_ride/ticket_to_ride.ncb
ticket_to_ride/ticket_to_ride.suo
ticket_to_ride/ticket_to_ride.vcproj.*
ticket_to_ride/Debug/*